<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="icon" href="/static/img/Logo.jpg">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="https://techis-wd-twitter-clone.techisio.repl.co/static/img/logo-twitterblue.svg">
</head>
<body>

    {% block content %} {{content}} {% endblock %}
   
</body>
</html>